* total dollars received
* total number of contributions received 
* donation amount in a given percentile

the entire contents of `repeat_donors.txt` would be:

    C00384516|02895|2018|333|333|1
    C00384516|02895|2018|333|717|2

notes:
- write into a class

In [10]:
import numpy as np
import pandas as pd

In [57]:
# read percentile.txt
fileHandle = open('percentile.txt', 'r')
percent = fileHandle.read()
fileHandle.close()
float(percent[:2])/100

0.3

In [59]:
# read itcont.txt
fileHandle = open('itcont.txt', 'r')
# prepare fields
a1=[];a2=[];a3=[];a4=[];a5=[];a6=[]
i=0
# read fields
for line in fileHandle:
    fields = line.split('|')
    i=i+1
    if (len(fields[15])>0): #() exclude other id
        print('removed '+str(i)+' line')
    else:
        a1.append(fields[0])
        a2.append(fields[7])
        a3.append(fields[10][:5])
        a4.append(fields[13])
        a5.append(fields[14])

fileHandle.close()

removed 1 line

In [13]:
# tidy up fields.
d = {'CMTE_ID' : a1,'NAME' : a2,'ZIP_CODE':a3,'TRANSACTION_DT':a4,'TRANSACTION_AMT':a5}
data1 = pd.DataFrame(d)
data1

     CMTE_ID                 NAME TRANSACTION_AMT TRANSACTION_DT ZIP_CODE
0  C00177436    DEEHAN, WILLIAM N             384       01312017    30004
1  C00384818       ABBOTT, JOSEPH             250       01122017    02895
2  C00384516      SABOURIN, JAMES             230       01312017    02895
3  C00177436  JEROME, CHRISTOPHER             384       10312017    30750
4  C00384516       ABBOTT, JOSEPH             333       01122018    02895
5  C00384516      SABOURIN, JAMES             384       01312018    02895

In [72]:
# find repeated elements
seen = set()
uniq = [] 
dup = []
dupindex = []
for x in a2:
    if x not in seen:
        uniq.append(x)
        seen.add(x)
    else: 
        dup.append(x)
        dupindex.append(a2.index(x))
        
dup,dupindex

(['ABBOTT, JOSEPH', 'SABOURIN, JAMES'], [1, 2])

In [50]:
# write to file
file_write = open('testfile.txt','w') 
i = 5
file_write.write(a1[i]+'|'+a3[i]+'|'+a4[i][-4:]+'|'+a5[i]+'|'
str(i+1)) 
file_write.close()

## test

In [73]:
a = [1,2,3,2,1,5,6,5,5,5]
set(a)

{1, 2, 3, 5, 6}

In [15]:
a6[2]

''

In [16]:
a6

['', '', '', '', '', '']

In [17]:
a6

['', '', '', '', '', '']

In [18]:
len(a6[0])

0

In [19]:
ddd = [1,2,3]

SyntaxError: invalid character in identifier (<ipython-input-20-8ac0adea9f02>, line 1)